<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random</title>
</head>

<body>
    <h1>Hello <%= text %></h1>
    <p>Todays Date is <%= new Date() %></p>
    <p>Your Random Number is : <%= num %></p>
    <!-- CONDITIONALS IN EJS-->
    <% if (num % 2===0) { %>
    <h2>That is an Even number!</h2>
    <% } else { %>
    <h2>That is an Odd number!</h2>
    <% } %>
    <!-- CONDITIONALS IN EJS USING TENARY OPERATOR-->
    <h3>That Number is : <%= num % 2=== 0 ? 'EVEN': 'ODD' %></h3>
</body>

</html>