/* Header  */
header.page-header {
    background: no-repeat left/cover url(images/christian-lambert-dJ_5-Kpn2zY-unsplash.jpg);
    display: flex;
    height: 120px;
    min-width: 120px;
    align-items: center;
    color: #fff;
    text-shadow: #000 0 0 .2em;
}

header.page-header > h1 {
    font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script', cursive,
        fantasy;
    margin: 2%;
}

main {
    font: 1rem 'Fira Sans', sans-serif;
}

/*Intimidating leopard style*/
.warning {
    border: 10px ridge #f00;
    background-color: #ff0;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

.warning img {
    width: 100%;
}

.warning p {
    font: small-caps bold 1.2rem sans-serif;
    text-align: center;
}
/*Intimidating leopard style end*/

/*weather forecast*/
.forecast {
    margin: 0;
    padding: .3rem;
    background-color: #eee;
    font: 1rem 'Fira Sans', sans-serif;
    width: fit-content;
}

.forecast > h1,
.day-forecast {
    margin: .5rem;
    padding: .3rem;
    font-size: 1.2rem;
}

.day-forecast {
    background: right/contain content-box border-box no-repeat
        url('/media/examples/rain.svg') white;
}

.day-forecast > h2,
.day-forecast > p {
    margin: .2rem;
    font-size: 1rem;
}

/* Aside div  */
.aside{
    width:300px;
}
aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > p {
    margin: .5rem;
}

p {
    font-family: 'Roboto';
}

/* p::first-letter {
   font-size: xx-large;
} */



/* PSEUDO ELEMENT  */
p::selection {
    text-transform:capitalize;
    font-size: 110%;
}

/* New Section on Transition */
.transition{
    border: 5px #003049 solid;
    width: 90%;
    margin: 0 auto;
    padding: 10px 10px;
    
}
 
.transition h1{
    font-size: 2em;
    text-align: center;
    transition: font-size 3s 1s,color 3s 1s;
    display: block;
}
.transition h1:hover{
    font-size: 3em;
    color: rgb(49, 206, 133);
}

.transition .circle {
    height: 300px;
    width: 300px;
    background-color: magenta;
    transition: background-color 1s ease-in, border-radius 1s ease-in;
    
}
.circle:hover {
    background-color: #003049;
    border-radius: 50%;
}
.trans{
    width: 100px;
    height: 100px;
    margin: 10px 0;
    background-color: #3d886f;
    transition: margin-left 3s ;
}

.transition section:hover .trans{
    margin-left: 500px;
}

.trans:nth-of-type(1){
    transition-timing-function: ease-in;
}

.trans:nth-of-type(2){
    transition-timing-function: ease-out;
}

.trans:nth-of-type(3){
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.trans:nth-of-type(4){
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
} 


 /* New Section on Transform */
 .transform {
    width: 90%;
 } 
 
.transform h1 {
    display:block;
    color: #fff;
    width: fit-content;
    height: fit-content;
    border: 5px #000000cc solid;
    margin: 5px auto;
    padding: 10px;
    text-align: center;
    
}
.transform h1:nth-of-type(1){
    background-color: #cf3a3a;
    transform: rotate(45deg);
}  
.transform h1:nth-of-type(2){
    background-color: #ced11c;
    transform: rotate(45deg);
    transform-origin: top left;

}
.transform h1:nth-of-type(3){
    background-color: #64aacf;
    transform: scale(.75);
    /* or scaling with two diff properties  */
    /* (width,height) */
    /* transform: scale(2, 1) */

}
.transform h1:nth-of-type(4){
    background-color: #31aa60;
    transform: translateX(400px);
    /* Translate can be x horizontal and y vertical
     * as it takes to values
     * It is used to move objects on the screen
    */
    transform:translate(50px,15px);
    
}
.transform h1:nth-of-type(5){
    background-color: #555f59;
    transform: skew(30deg);
    transform: skew(30deg,0deg);

}
.transform h1:nth-of-type(6){
    background-color: #aa319a;
    /* We can rotate and scale an item at same time  */
    transform: rotate(45deg) scale(.75);
}
.transform h1:nth-of-type(7){
    background-color: #6d880b;
    /* We can do many things with transform  */
    transform: rotate(20deg) scale(.75) translateX(400px);
}
.transform h1:nth-of-type(8){
    background-color: #4915c2;
    /* transform: rotate(45deg); */
    transition: transform 3s ease;
}
.transform h1:nth-of-type(8):hover {
    /* Transform  */
    transform: rotate(45deg) scale(.75) translateX(400px);
}


/* Flex Box Tutorial */
.fbox h1{
    text-align: center;
    
}
.fbox .container {
    background-color: #003049;
    width: 90%;
    /* height: 500px; */
    margin: 0 auto;
    margin-bottom: 30px;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    /* align-items: center; */
    /* align-content: space-around;  */
    /* align content Only works when we have wrap turned on */
 
    
}

.fbox .container div {
    width: 200px;
    height: 200px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
    /* max-width: 350px; */
    min-width: 100px;
    

}

.container div:nth-of-type(1) {
    /* align-self: flex-end; */
    flex-grow: 1;

}

.container div:nth-of-type(5) {
    /* align-self: flex-start; */
    flex-grow: 2;

}

.fbox main {
    background-color: rgb(247, 242, 242);
    width: 90%;
    height: 400px;
    margin: 0 auto;
    border: 5px solid #9a9fa1;
    display: flex;
    flex-direction: row;
 
}

/* New Section on RGBA */
.new-section{
    /* background-color: #2a9942; */
    width: 90%;
    margin: 10px auto;
    padding: 10px 0;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;  
}

.one{
    background-color: rgba(0, 48, 73, 0.5);
    width: 100px;
    height: 100px;
    border: 5px solid #cadbe4;
    border-radius: 10% / 50%;
}

.two {
    background-color: rgba(66, 202, 195, 0.5);
    width: 100px;
    height: 100px;
    border: 5px solid #cdd6db;
    border-radius: 10% / 50%;
    
}

.three {
    background-color: rgba(0, 48, 73, 0.5);
    width: 100px;
    height: 100px;
    border: 5px solid #cfd6da;
    border-radius: 10% / 50%;
    
}
/* New /Nice Hover effect i saw on google font  */
.nice-hover{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: #3d886f;
}
.hoveff{
    width: 100px;
    height: 100px;
    border-radius: 8px;
    border: 1px solid #dadce0;
    background-color: #fff;
    transition: all .15s ease;
    padding: 5px;
    text-align: center;
    
}
.hoveff:hover{
    transform: scale(1.4);
    transform: translateY(-5px);
    box-shadow: 0 0.1em 5px #ced11c;
    border: #ced11c;
    text-transform: uppercase;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    
}
