/* New Section on Transition */
.transition{
    border: 5px #003049 solid;
    width: 90%;
    margin: 0 auto;
    padding: 10px 10px;
    
}
 
.transition h1{
    font-size: 2em;
    text-align: center;
    transition: font-size 3s 1s,color 3s 1s;
    display: block;
}
.transition h1:hover{
    font-size: 3em;
    color: rgb(49, 206, 133);
}

.transition .circle {
    height: 300px;
    width: 300px;
    background-color: magenta;
    transition: background-color 1s ease-in, border-radius 1s ease-in;
    
}
.circle:hover {
    background-color: #003049;
    border-radius: 50%;
}
.trans{
    width: 100px;
    height: 100px;
    margin: 10px 0;
    background-color: #3d886f;
    transition: margin-left 3s ;
}

.transition section:hover .trans{
    margin-left: 500px;
}

.trans:nth-of-type(1){
    transition-timing-function: ease-in;
}

.trans:nth-of-type(2){
    transition-timing-function: ease-out;
}

.trans:nth-of-type(3){
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.trans:nth-of-type(4){
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
} 


 /* New Section on Transform */
 .transform {
    width: 90%;
    margin-bottom: 300px;
 } 
 
.transform h1 {
    display:block;
    color: #fff;
    width: fit-content;
    height: fit-content;
    border: 5px #000000cc solid;
    margin: 5px auto;
    padding: 10px;
    text-align: center;
    
}
.transform h1:nth-of-type(1){
    background-color: #cf3a3a;
    transform: rotate(45deg);
}  
.transform h1:nth-of-type(2){
    background-color: #ced11c;
    transform: rotate(45deg);
    transform-origin: top left;

}
.transform h1:nth-of-type(3){
    background-color: #64aacf;
    transform: scale(.75);
    /* or scaling with two diff properties  */
    /* (width,height) */
    /* transform: scale(2, 1) */

}
.transform h1:nth-of-type(4){
    background-color: #31aa60;
    transform: translateX(400px);
    /* Translate can be x horizontal and y vertical
     * as it takes to values
     * It is used to move objects on the screen
    */
    transform:translate(50px,15px);
    
}
.transform h1:nth-of-type(5){
    background-color: #555f59;
    transform: skew(30deg);
    transform: skew(30deg,0deg);

}
.transform h1:nth-of-type(6){
    background-color: #aa319a;
    /* We can rotate and scale an item at same time  */
    transition: transform 2s;
}
.transform h1:nth-of-type(6):hover{
    background-color: #aa319a;
    /* We can rotate and scale an item at same time  */
    transform: rotate(360deg) scale(.9) translateX(300px);
}
.transform h1:nth-of-type(7){
    background-color: #6d880b;
    /* We can do many things with transform  */
    transform: rotate(20deg) scale(.75) translateX(400px);
}
.transform h1:nth-of-type(8){
    background-color: #4915c2;
    /* transform: rotate(45deg); */
    transition: transform 3s ease;
}
.transform h1:nth-of-type(8):hover {
    /* Transform  */
    transform: rotate(45deg) scale(.75) translateX(400px);
}

