/* Flex Box Tutorial */
body {
    background-color: #f1f1f1;
}
.fbox h1{
    text-align: center;
    
}
.fbox .container {
    background-color: #003049;
    width: 90%;
    /* height: 500px; */
    margin: 0 auto;
    margin-bottom: 30px;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content:center;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* align-content: space-around;  */
    /* align content Only works when we have wrap turned on */
 
    
}

.fbox .container div {
    width: 200px;
    height: 200px;
    text-align: center;
    /* flex-basis: 600px; */
    /* flex-grow: 1; */
    /* Using cheat set  */
    flex:1 600px;
    /* max-width: 350px; */
    /* min-width: 100px; */

}

.container div:nth-of-type(1) {
    /* align-self: flex-end; */
    /* flex-grow: 2; */
    /* flex-shrink: 2; */
    /* We are actually using a cheat set for flex grow and shrink  */
    flex: 2 2;

}

.container div:nth-of-type(5) {
    /* align-self: flex-start; */
    flex-grow: 1;
    /* flex-shrink: 0; */

}

.fbox main {
    width: 90%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    border: 2px solid #f1f1f1;
    /* background: linear-gradient(#f1f1f1, #f3f3f3); */

}
main .sidebar {
    background-color: rgba(153, 206, 31, 0.9);
    flex: 1 2 20%;
    /* border: 1px solid white; */
    
} 
main .maincontent {
    background-color: rgba(211, 28, 150, 0.925);
    flex: 2 1 60%;
} 