body {
    font-family: 'Open Sans', sans-serif;

}

ul, li {
    display: inline;
    padding: 0;
    margin: 0; 
    
}

nav{
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: space-around; */
    
}



ul {
    /* border: 1px solid #e1b7c3; */
    flex:1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;

}

h1 {
    font-size: 6em;
    text-align: center;
}

@media (max-width:768px) {
    h1 {
        font-size: 4em;
    }
}
@media (max-width:576px) {
    h1 {
        font-size: 3em;
    }
}
@media (max-width:552px) {
    nav, nav ul {
        flex-direction: column;
        align-items: center;
    }

}
