<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Secret</title>
</head>

<body>
    <h1>This is the secret page</h1>
    <p>I am Tolulope Fakunle</p>
    <ol>
        <li>I love Programming</li>
        <li>I love Food</li>
        <li>I love doing Hard things</li>
    </ol>

    <form action="/logout" method="POST">
        <button>Log out</button>
    </form>

</body>

</html>