/* body{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    height:100vh;
} */

section{
    width:80%;
    height:700px;
    background-color: purple;
    margin: 0 auto;
    /* background-image: url("https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"); */
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
    url("https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    background-position: top;
}
h1 {
    font-size: 100px;
    color: #fff;
    text-align: center;
}