<%- include('partials/head')%>


<%- include('partials/navbar')%>
<h1>All the Cats</h1>
<ul>
    <% for (cat of Allcats) { %>
    <ul> <%= cat %> </ul>
    <% } %>
</ul>


<%- include('partials/footer')%>