<%- include('partials/head')%>


<%- include('partials/navbar')%>

<h1>THE HOME PAGE <%='hello World'.toUpperCase()%>
</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus non, quod voluptatibus illo, sed quis
    ipsum dicta commodi, praesentium placeat totam! Minus, ullam hic aperiam enim necessitatibus ab eveniet.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint commodi accusantium doloremque ipsam quasi unde
    dolorum earum modi eaque magni nostrum et, quibusdam facilis iusto temporibus praesentium. Assumenda, deserunt
    quae!
</p>
<p>Tolulope Coder</p>
<%- include('partials/footer')%>